body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.route-container {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.route-method {
    font-weight: bold;
    color: #007bff;
}

.route-security {
    font-weight: bold;
    color: #007bff;
}

.route-path {
    margin-left: 20px;
}

.route-description {
    margin-left: 20px;
    color: #555;
}

.parameters {
    margin-left: 40px;
}
.jsonEnvoi{
    display: flex;
    flex-direction: column;
}